@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  height: 100dvh;
  body,
  #app {
    height: inherit;
  }
}


.fx {
  display: flex;

  &.flex-center {
    justify-content: center;
    align-items: center;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.flex-evenly {
    justify-content: space-evenly;
  }
}

.target-box,
.drop-targets {
  border: 2px solid #222;
  border-radius: 0.625rem;
  transition: all 0.2s ease;
}

.target-box {
  width: 150px;
  aspect-ratio: 1;
  background-position: center;
  background-size: 100% 100%;

  &.over {
    background-image: url("./pictures/meme_go_on.png");
  }
  &.win {
    border-color: green;
    background-image: url("./pictures/meme_you_win.jpg");
  }
  &.lose {
    border-color: indianred;
    background-image: url("./pictures/meme_you_lose.jpg");
  }
}

.drop-box {
  height: 70%;
}

.drop-targets {
  width: 100px;
  aspect-ratio: 1;
  background-color: #222;

  &.over {
    background-color: #fff;
  }

}


@media screen and (min-width: 900.98px) {
  .target-box {
    width: 200px;
  }

  .drop-targets {
    width: 130px;
  }
}
